<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Virtual Playground</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
  <div class="jumbotron text-center">
    <h1>Virtual Playground</h1>
    <p>Place to have fun at Work with employees at arcesium.</p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>Multiplayer Snake Game</h3>
        <p>Play the old snake game with your friends and save the snake from walls.</p>
        <br>
        <a href = "/snake">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>Flappy Bird</h3>
        <p>Attempt to fly between columns of green pipes without hitting them</p>
        <br>
        <a href = "/flappy">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>Ping Pong</h3>
        <p>Play the old ping pong game and score more than your friends.</p>
        <br>
        <a href = "/pong">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
    </div>
    
  </div>

  <br><br>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h3>2d Breakout Game</h3>
        <p>Break the tiles with the ball make sure you have only 3 lives.</p>
        <br>
        <a href = "/breakout">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>Tertis Game</h3>
        <p>Complete lines by moving differently shaped pieces, which descend onto the playing field</p>
        <br>
        <a href = "/tertis">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
      <div class="col-sm-4">
        <h3>Arcade shooter</h3>
        <p>Shoot the squares and score points and compete with your friends<p>
        <br>
        <a href = "/shooter">
          <button type="button" class="btn btn-primary active">Play Now</button>
        </a>
      </div>
    </div>
    
  </div>


      </body>
</html>
